@import "../../../node_modules/vuetify/src/stylus/main"

toolbar-background-color = rgba(14, 76, 121, 0.9)
toolbar-full-size = 300px

body
    //background-color: #f4f4f4
    background-color: #fff

@media only screen and (min-width: 993px)
    .toolbar--full
        width: 70%
        margin: 0 auto

.toolbar-background-full
    background-color: toolbar-background-color
    height: toolbar-full-size

.toolbar-background
    background-color: toolbar-background-color

.toolbar__logo
    font-family: 'Bree Serif', serif

.toolbar__logo > a
    color: white
    text-decoration: none

.logo--subtitle
    font-family: 'Share Tech Mono', monospace

.footer-link
    text-decoration: none

.parallax__image
    width: 100%

.text--think
    font-family: 'Ranga', cursive
